@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');

/* Responsividade */
@media screen and (max-width: 768px) {
    body,
    .container,
    .slide,
    .item,
    .content,
    .button-img,
    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    body {
        padding: 20px; /* Adiciona um pouco de espaço entre os elementos */
    }

    .item {
        width: 100%; /* Define a largura dos itens como 100% */
        max-width: 400px; /* Define a largura máxima dos itens */
        margin-bottom: 20px; /* Adiciona um espaço entre os itens */
    }

    .button-img {
        margin-top: 20px;
    }

    .button-img button {
        margin: 0 5px; /* Adiciona um espaço entre os botões */
    }

    .modal-content {
        width: 90%; /* Ajusta a largura do modal */
        max-width: 400px; /* Define a largura máxima do modal */
        margin: 20px auto; /* Centraliza o modal na tela */
    }

    .modal-images img {
        width: 100%; /* Garante que as imagens do modal se ajustem corretamente */
    }
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Estilo do menu de navegação */
.navbar-options {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #ffc107;
    width: 650px;
    margin: 0 auto;
    font-size: 20px;
}

.navbar-brand,
.nav-link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding-right: 20px;
}

.navbar-brand::after,
.nav-link::after {
    content: ''; 
    position: absolute;
    top: 20px;
    right: -10px;
    transform: translateY(-50%);
    height: 79px;
    width: 5px;
    background-color: #ffc107;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 5px#000000;
    border: 3px solid #ffc107;
}

header h1 {
    margin: 0;
    font-size: 55px;
}

header h2 {
    font-size: 65px;
}

header p {
    font-size: 40px;
}

.navbar-options {
    margin-top: 20px;
}

.navbar-brand {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin-left: auto;
    margin-bottom: 10px;
} 

a {
    color: #ffc107;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #1a1004;
}

label {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
    margin-bottom: 9px;
    margin-left: 20px;
}

/* Estilo do campo de data */
input[type="date"] {
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffbf00;
    max-width: 100px;
    transition: border-color 0.3s ease;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    outline: none;
    margin-left: 20px;
}

.container .slide .item {
    width: 180px;
    height: 250px;
    position: absolute;
    top: 705px;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 450px;
    left: 500px;
    transform: translate(0, 0);
    border-radius: 10px;
    width: 1000px;
    height: 500px;
}


.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(50% + 210px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 430px);
}

.slide .item:nth-child(n + 6) {
    left: calc(50% + 650px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 210px;
    left: 80px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button-img {
    padding: 10px 20px;
    border: none;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
    from {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
    }
  
    to {
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
    }
}

.button-img {
    position: relative;
    top: 530px;
    left: 830px;
}

.button-img button {
    background-color: #006eff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-img button:hover {
    background-color: #0056b3;
}

.button-img button:focus {
    outline: none;
}

.button-img button.prev {
    margin-right: 10px;
}

.button-img button.next {
    margin-left: 10px;
}

.button-img h1 {
    position:absolute;
    top: -480px;
    color: #ffffff;
    left: -140px;
    font-size: 30px;
    background-color: #006eff;
    border-radius: 5px;
    height: 40px;
    box-shadow: 0 5px 4px black;   
}

.hover-do-site {
    margin-top: 600px;
    background-color: #006eff;
    width: 1950px;
    height: 52px;
    border-radius: 5px;
    box-shadow: 0 5px 8px black;
    border: 3px solid #ffc107;
}

.hover-do-site p {
    font-size: 25px;
    color: white;
    position: relative;
    left: 760px;
    top: 10px;
}

.botao-de-Paginas {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botao-de-Paginas button {
    background-color: #007bff;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-de-Paginas button:hover {
    background-color: #0056b3;
}

/* Estilo dos botões "Mais sobre" */
.button-mais-sobre {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-mais-sobre:hover {
    background-color: #0056b3;
}

/* Estilo do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

/* Estilo das imagens dentro do modal */
.modal-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

/* Estilo dos botões de navegação das imagens */
.prev-img,
.next-img {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
}

.prev-img:hover,
.next-img:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-img {
    left: 10px;
}

.next-img {
    right: 10px;
}

/* Estilo para esconder a barra de rolagem horizontal */
.modal-content::-webkit-scrollbar {
    display: none;
}
#destino {
 font-weight: bold;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
  }
  
  #destino option {
    font-size: 16px;
  }
