/* Estilos padrão */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Header */
header {
    background-color: #027bf5;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border: 5px solid #ffc107;
    border-radius: 0 0px 10px 10px;
    box-shadow: 0 5px 8px black;
}

header h2 {
    font-size: 50px;
}

header h1 {
    font-size: 30px;
}

/* Botão geral */
button {
    background-color: #007bff;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #ffffff;
}

button:hover {
    background-color: #2980b9;
}

/* Formulário de pesquisa */
form.search-form {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffc107;
    width: 90%; /* Alterado para largura máxima */
    margin: 0 auto; /* Centralizar horizontalmente */
}

/* Container de opções de pesquisa */
.search-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-options {
    display: flex;
    align-items: center;
}

.search-options label {
    margin-right: 10px;
    font-weight: bold;
}

/* Estilos para diferentes tipos de inputs */
.search-options input[type="radio"],
.search-options input[type="checkbox"],
.search-options select {
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #007bff;
}

.search-options input[type="radio"]:checked + label,
.search-options input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #3498db;
}

label {
    font-weight: bold;
    color: #555555;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

/* Container de navegação */
.navbar-options {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffc107;
    width: 90%; /* Alterado para largura máxima */
    margin: 20px auto; /* Centralizar horizontalmente */
}

/* Estilos para inputs específicos */
select,
input[type="text"],
input[type="date"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Cartões */
.flight-card,
.destination-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    margin: 20px 0; /* Espaçamento vertical */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%; /* Alterado para largura máxima */
    max-width: 300px; /* Limitado a uma largura máxima */
}

.flight-card img,
.destination-card img {
    height: 200px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.1);
}

.flight-card h3,
.destination-card h3 {
    margin: 0;
    color: #333;
    font-size: 22px;
}

.flight-card p,
.destination-card p {
    margin: 10px 0;
    color: #000000;
    font-size: 22px;
}

.flight-card button,
.destination-card button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.flight-card button:hover,
.destination-card button:hover {
    background-color: #0056b3;
}

/* Container de cartões */
.flight-card-container,
.destination-card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cartões quebrem para a próxima linha */
    justify-content: center;
}

/* Rodapé */
footer p {
    background-color: #007bff;
    font-size: 24px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    border: solid #ffc107;
    border-width: 0 5px 8px;
}

/* Overlay e caixa de diálogo */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 300px;
    width: 90%;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    color: blue;
}

.close-btn:hover {
    background-color: blue;
    color: white;
}

/* Consulta de mídia para telas menores */
@media screen and (max-width: 768px) {
    /* Ajuste de layout para telas menores */
    .flight-card,
    .destination-card {
        width: 100%;
        max-width: none;
    }
    
    /* Ajuste de margem para botões */
    button,
    .flight-card button,
    .destination-card button {
        margin: 10px 0;
    }
    
    /* Ajuste de margem para o rodapé */
    footer p {
        margin-top: 20px;
    }
    
    /* Ajuste de margem para o cabeçalho */
    header h2 {
        font-size: 40px;
    }
    
    header h1 {
        font-size: 25px;
    }
    
    /* Ajuste de margem para o formulário de pesquisa */
    form.search-form {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
