/* stylesVoos.css */

/* Estilos gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header, .navbar-options, footer {
    background: linear-gradient(135deg, #2C3E50, #3498DB);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

header h1, footer p {
    margin: 0;
}

/* Botões */
button {
    padding: 12px 24px;
    background-color: #ff5f6d;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff7b89;
}

/* Formulário de pesquisa */
.search-form, .search-options-container {
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.search-options {
    margin-bottom: 30px;
}

.search-options label {
    margin-right: 15px;
    color: #333;
}

.search-container {
    display: flex;
    align-items: center;
}

/* Cartões de voo e destino */
.flight-card, .destination-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.flight-card img, .destination-card img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.flight-card h3, .destination-card h3 {
    margin: 0;
    color: #333;
    font-size: 24px;
}

.flight-card p, .destination-card p {
    margin: 10px 0;
    color: #666;
    font-size: 16px;
}

.flight-card button, .destination-card button {
    background-color: #ff5f6d;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.flight-card button:hover, .destination-card button:hover {
    background-color: #ff7b89;
}

/* Estilos específicos */
h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 32px;
}

/* Estilos para dispositivos menores */
@media screen and (max-width: 768px) {
    .search-options-container {
        padding: 20px;
    }

    .search-container {
        flex-direction: column;
    }

    button {
        margin-bottom: 20px;
    }

    .flight-card, .destination-card {
        padding: 20px;
    }

    .flight-card p, .destination-card p {
        margin: 5px 0;
    }
}
