body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #027bf5;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 28px;
}

button {
    background-color: #0099ff;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #ffffff;
}

button:hover {
    background-color: #2980b9;
}

form.search-form {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: 2px solid #ffc107;
    margin-left: 780px;
}

.search-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-options {
    display: flex;
    align-items: center;
}

.search-options label {
    margin-right: 10px;
    font-weight: bold;
}

.search-options input[type="radio"],
.search-options input[type="checkbox"],
.search-options select {
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.search-options input[type="radio"]:checked + label,
.search-options input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #3498db;
}


label {
    font-weight: bold;
    color: #555555;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-options {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1000px;
    border: 2px solid #ffc107; /* Adicionando borda amarela */
    margin-left: 25%; /* Mover para a direita */
}


select,
input[type="text"],
input[type="date"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

button[type="submit"] {
    background-color: #1874ff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #219a52;
}

/* Cartões de voo e destino */
/* Estilo para os cartões de voo e destino */
.flight-card, .destination-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    margin-right: 20px; /* Espaçamento entre os cartões */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 240px;
    height: 190px;
    display: inline-block; /* Exibe os cartões em linha */
    vertical-align: top; /* Alinha-os ao topo */
    text-align: center;
}

/* Estilo para as imagens dos cartões de voo e destino */
.flight-card img, .destination-card img {
    width: 45%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(196, 20, 20, 0.1);
}

/* Estilo para os títulos dos cartões de voo e destino */
.flight-card h3, .destination-card h3 {
    margin: 0;
    color: #333;
    font-size: 24px;
}

/* Estilo para os detalhes dos cartões de voo e destino */
.flight-card p, .destination-card p {
    margin: 10px 0;
    color: #4e2222; /* Alterei a cor do texto */
    font-size: 16px;
}

/* Estilo para os botões dos cartões de voo e destino */
.flight-card button, .destination-card button {
    background-color: #007bff;
    color: #ffffff; /* Alterei a cor do texto */
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.flight-card button:hover, .destination-card button:hover {
    background-color: #007bff;
}
.flight-card:last-child, .destination-card:last-child {
    margin-right: 0; /* Remove o espaçamento à direita do último cartão */
}
footer p {
    background-color: #007bff;
    font-size: large;
    height: 25px;
    color: white;
    display: flex;
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 300px; /* Definindo uma largura máxima */
    width: 90%; /* Adaptação responsiva */
    position: relative; /* Adicionado para posicionamento absoluto */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid blue; /* Adiciona uma borda azul */
    border-radius: 50%; /* Deixa o X com bordas redondas */
    padding: 5px; /* Espaçamento interno */
    background-color: white; /* Fundo branco */
    color: blue; /* Cor do texto azul */
}

.close-btn:hover {
    background-color: blue; /* Altera a cor de fundo ao passar o mouse */
    color: white; /* Altera a cor do texto ao passar o mouse */
}